.task-container {
  display: flex;
  gap: 0.75rem;
  padding-bottom: 1.25rem;
}

.task-icon {
  padding: 0.25rem;
  cursor: pointer;
}

.remove-icon:hover {
  color: red;
}

.edit-icon:hover {
  color: rgb(1, 204, 1);
}

.task-icon-container {
  display: flex;
}
